
<% layout("/layouts/boilerplate") %>
<h2 class="talk_heading">Now You Can Talk</h2>

<div class="talk_page">
   
    <div class="">
        <h2><%= listing.agentname %></h2>
        <h2>Doctor Profile</h2>
        <p><%= listing.doctorname %> <br>
            <%= listing.specialist %> <br>
          <p> Experience : <%= listing.experience %> Yrs </p> <br>
           Mobile No: <%= listing.mobile_no %> 
        </p>
      <button class="btn btn-primary btn_call mb-2" ><a href="https://chat.1410inc.xyz"> Join Video Call</a></button>  
        </div>
    </div>